.banner {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    padding: 20px;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}

.banner input {
    border: none;
  }


.header-link {
    object-fit: contain;
    color: #FF5A5F;
}

.search-bar {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    // padding: 10px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 1000px;
}

.search-bar:hover {
    box-shadow: 0 0 3px rgba(33,33,33,.2); 
}

.user-options {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 1000px;
}

.search-bar > * {
    display: flex;
    flex-direction: column;
    height: 50px;
    top: 50%;
    width: auto;
    border-radius: 1000px;
    border-right: 1px solid lightgrey;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.search-bar h3 {
    margin: 0;
}

.search-bar > *:last-child {
    border-right: none;
}

.search-bar > *:hover {
    background-color: lightgrey;
}

.search-bar > *:focus {
    border-right: none;
}

.add-guests {
    border-right: none;
}

.banner-search-button {
    background-color: #FF385C;
    color: white;
    border: none;
    border-radius: 1000px;
    height: 40px;
    width: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.banner-search-button:hover {
    background-color: #FF5A5F;
    cursor: pointer;
}