header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    box-shadow: 0px 3px 15px lightgrey;
    background-color: white;
    z-index: 5;
    width: 100%;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 100;
    max-width: 1600px;
    width: 100%;
    font-family: Cereal-Bold;
}

.banner > * {
    margin: 10px;
    margin-top: 10px;
    
}

.banner input {
    border: none;
    text-decoration: none;
    background-color: nonew;
}

.banner-icon {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.header-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    object-fit: contain;
    color: #FF375D;
    margin-left: 50px;
}

#mini-search-bar {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: grey;
    border: 1px solid lightgray;
    border-radius: 100px;
    box-shadow: 0 0 7px 1px rgba(33, 33, 33, .1);
    padding-left: 20px;
    padding-right: 10px;
    justify-content: space-between;
    height: 50px;
    min-width: 300px;
    transition: all 0.2s ease-out;
}

#mini-search-bar.hidden {
    transform: translateY(30px);
}

#mini-search-bar:hover {
    box-shadow: 0 0 3px rgba(33, 33, 33, .2); 
    transform: scale(1.02)
}

#mini-search-bar > p{
    font-size: 15px;
}

#mini-search-bar > span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e51f4e;
    border-radius: 100px;
    height: 30px;
    aspect-ratio: 1/1;
}

#mini-search-bar i {
    font-size: 14px;
    color: white;
}

.user-options {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    margin-right: 50px;
    height: 30px;
    width: 70px;
    border: 1px solid lightgray;
    border-radius: 1000px;
}

.user-options:hover {
    cursor: pointer;
    box-shadow: 0 0 3px rgba(33, 33, 33, .2);
}

.user-options > * {
    padding: 8px;
}

.add-guests {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 200px;
}

.search-bar {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    height: 100px;
    // background-color: #EEEEEE;
    border: 1px solid lightgray;
    border-radius: 1000px;
    margin-bottom: 40px;
    transition: all 5s;
}

.search-bar.hidden {
    transform: translateY(-300px);
}

.search-bar:hover {
    box-shadow: 0 0 3px rgba(33,33,33,.2);
}

.search-bar > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 50%;
    border-radius: 1000px;
}

.search-bar h3 {
    margin: 0;
}

.search-bar > *{
    height: 70px;
}

.search-bar > *:hover {
    background-color: lightgrey;
}

.search-bar > *:focus {
    background-color: white;
    z-index: 10;
}

.search-bar > * > * {
    padding-left: 25px;
}


.banner-search-button {
    background-image: linear-gradient(to right, #e51f4e, #d60567);
    color: white;
    border: none;
    border-radius: 1000px;
    height: 40px;
    width: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.banner-search-button i {
    padding: 0;
}

.banner-search-button:hover {
    background-color: #FF5A5F;
    cursor: pointer;
}

.user-drop-down {
    position: absolute;
    width: 200px;
    padding-left: 0px;
    padding-right: 0px;
    top: 60px;
    right: 0px;
    overflow: auto;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
}

.dropdown-option {
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: white;
    padding: 0px;
    border: none;
    border-radius: 2px;
    padding-left: 15px;
    text-align: start;
}

.dropdown-option:hover {
    background-color: lightgrey;
}

@media (max-width: 500px) {
    .header-link h1 {
        display: none;
    }
}

@media (max-width: 700px) {
    #mini-search-bar {
        display: none;
    }
}