.listing-form-container {
    position: relative;
    width: 90%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-top: 40px;

    h1 {
        margin: 0;
        font-size: 30px;
    }

    .map {
        width: 100%;
        z-index: 1;
        border-radius: 20px;
        margin-top: 20px;
        height: 70vh;
        box-shadow: -8px -8px 7px rgba(33,33,33,.2);
    }
}

.listing-form {
    margin-top: 59.5px;
    
    form {
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 68vh;
        padding: 1vh 0 1vh 0;
        border-radius: 20px;
        overflow: auto;
        box-shadow: -8px -8px 6px rgba(33,33,33,.2);

    }
}

.home-button {
    position: absolute;
    top: 35px;
    cursor: pointer;
    width: 50px;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    display: flex;
    &:hover {
        background-color: rgba(33,33,33,.2);
    }
}

.listing-name {
    margin: 0;
}

.listing-field {
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    border-top: 2px solid lightgrey;
    &:last-child {
        border-bottom: 2px solid lightgrey;
    }
    &:focus {
        border: 2px solid lightgrey;
        border-radius: 20px;
    }
}

.listing-field input {
    border: none;
}

.form-button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .new-photo-button {
        background-color: none;
        border: 1px solid lightgrey;
    }
}

#new-listing-button-container {
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 120px;
    height: 50px;
}

.new-listing-button {
    background-color: #242424;
    color: white;
    width: inherit;
    height: inherit;
    border: none;
    border-radius: 10px;
}

.new-listing-button:hover {
    background-color: black;
    transform: scale(1.02);
    cursor: pointer;
}

.fa-star {
    color: #e51f4e;
}

#form-content {
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;

    > div {
        height: 100%;
        display: inline-block;
    }
}

#photo-drop-area {
    width: 80%;
    height: 40px;
    padding: 5px;
    // border-radius: 10px;
    
    input {
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    &:hover {
        box-shadow: 0 8px 7px rgba(33,33,33,.2);
        input {
            border: none;
        }
    }
}

// BACKGROUND

.waveTop {
    background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')
}

.waveMiddle {
    background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')
}

.waveBottom {
    background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    // background-image: linear-gradient(to right, #e51f4e, #d60567);
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}