#listing-show-photos {
    display: grid;
    grid-template-areas: 
        'one one two three'
        'one one four five';
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1200px;
    width: auto;
    gap: 0.5rem;
}

#listing-show-photos img {
    background-color: blue;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#listing-show-photos >*:nth-child(1){
    grid-area: one;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#listing-show-photos >*:nth-child(2){
    grid-area: two;
}

#listing-show-photos >*:nth-child(3){
    grid-area: three;
    border-top-right-radius: 20px;
}

#listing-show-photos >*:nth-child(4){
    grid-area: four;
}

#listing-show-photos >*:nth-child(5){
    grid-area: five;
    border-bottom-right-radius: 20px;
}
