.listing-show-map {
    padding-top: 30px;
    border-top: 1px solid lightgrey;

    .map {
        width: 100%;
        margin: 20px 0 0 0;
    }
}

#test-map {
    height: 1000px;
    background-color: black;
    border-radius: 15px;
}
